bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

LogAnalyzerForWindows/appsettings.json
LogAnalyzerForWindows/bin
LogAnalyzerForWindows/obj

.idea/


# Environment variables
.env
.env.local
.env.development
.env.test
.env.production